beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
frozendict==2.4.4
greenlet==3.1.1
html5lib==1.1
idna==3.7
load-dotenv==0.1.0
lxml==5.2.2
multitasking==0.0.11
numpy==2.0.1
pandas==2.2.2
peewee==3.17.6
piecash==1.2.1
platformdirs==4.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.5
SQLAlchemy==1.4.54
SQLAlchemy-Utils==0.41.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.41
